@model List<ResultLastThreeProductWithCategoryDto>

<section id="grids5-block" class="py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big text-center">Son Eklenen İlanlar</h3>
        <div class="row mt-lg-5 mt-4 pt-3">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <span class="posted-date">
                            <a href="blog-single.html">
                                <span class="small">@item.AdvertisementDate.Year</span>
                                <span class="big">@item.AdvertisementDate.Day</span>
                                <span class="small">@item.AdvertisementDate.ToString("MMMM")</span>
                            </a>
                        </span>
                        <a href="blog-single.html" class="d-block zoom"><img src="@item.CoverImage" style="height:250px;" alt="" class="img-fluid news-image"></a>
                        <div class="blog-info">
                            <a href="#category" class="category m-3">@item.CategoryName</a>
                            <h4 class="title-head"><a href="" class="title-head">@item.Title</a></h4>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>

            }
           
        </div>
    </div>
</section>